body,html{
	font-family:'Yanone Kaffeesatz', sans-serif;
	font-size:18px;
	font-weight:200;
	background:url('../img/back.png');
}
h1{
	font-size:100px;
	font-weight:300;
	line-height:1;
	color:#333;
}
h2{
	font-size:50px;
	font-weight:200;
	line-height:1;
	color:#999;
}
header{
	margin:10px 0;
}
#head{
	margin:auto;
	width:1000px;
}
#logo{
	padding:0 20px;
}
#social{
	margin:60px 0 10px 0;
}
#social img{
	float:left;
	margin:0 7px;
	width:40px;
	opacity:0.7;
}
#social img:hover{
	opacity:1;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
#wrapper{
	width:1000px;
	margin:0 auto;
}
#election-head,#election-foot{
	text-align:center;
	width:400px;
	margin:auto;
	padding:20px;
	background-color:white;
	border-color:#bbb;
	border-width:1px 1px 0 1px;
	border-style:solid;
}
#election-foot{
	border-width:0 1px 1px 1px !important;
	color:#777;
	padding:10px 20px;
	font-size:14px;
}
#election-head{
	padding-bottom:40px;
}
#election-desc{
	background-color:#333;
	text-align:center;
	position:relative;
	color:white;
	padding:30px 0 20px 0;
	border-bottom:10px solid #e68f3f;
}
#election-desc p{
	margin:10px;
}
#login-fb{
	cursor:pointer;
	opacity:0.9;
}
#login-fb:hover{
	opacity:0.95;
}
#login-fb-div{
	position:absolute;
	top:-20px;
	text-align:center;
	width:100%;
}

.error{
	background-color: #FF8686;padding: 10px;color: white;font-family: Arial;font-size: 14px;
}
.correct{
	background-color:#BFB;
}
.instr{
	font-size: 15px;font-weight: 300;font-family: arial;padding: 10px;
}
#conf-submit{
	padding: 10px 30px;border: 0;background-color: #444;color: white;
}
#conf-submit:hover{
	background-color:#222;
}

#loading{
	text-align:center;
	margin:30px auto;
	width:1000px;
}
