
<header>
	<div id="head">
		<div id="logo" class="left">
			<a href="http://www.dolphin.upenn.edu/rangoli">
				<img src="img/logotest.png" alt="Logo">
			</a>
		</div>
		<div id="social" class="right">
			<a href="https://www.facebook.com/groups/pennrangoli" target="_blank">
				<img src="img/fb.png" alt="Facebook" title="Facebook">
			</a>
			<a href="http://www.flickr.com/photos/101916693@N06" target="_blank">
				<img src="img/flickr.png" alt="Flickr" title="Flickr">
			</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</header>
