<!DOCTYPE html>
<html>
  <head>
    <title>Penn Rangoli Election 2014</title>
    <!-- Bootstrap -->
	<!--[if IE]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,200,400' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/main.css" rel="stylesheet" media="screen">
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script src="js/jquery.js"></script>
	<script>
	$(document).ready(function(){
		$('#wrapper').fadeOut(0);
		
	  window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '{{facebook_app_id}}',
	    status     : true, // check login status
	    cookie     : true, // enable cookies to allow the server to access the session
	    xfbml      : true  // parse XFBML
	  });
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
	    if (response.status === 'connected') {
			//Logged in and authorized
		   location.replace(location.href+"email");
	    } else if (response.status === 'not_authorized') {
			notAuth();
	    } else {
			notAuth();
	    }
	  });
	  };
	
		function notAuth(){
			$('#loading').hide();
			$('#wrapper').fadeIn(500);
		}
		
	  // Load the SDK asynchronously
	  (function(d){
	   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   ref.parentNode.insertBefore(js, ref);
	  }(document));

	});
	</script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
	{% include 'header.html' %}

	<div id="loading">
		<p>Loading</p>
		<img src="img/loading.gif">
	</div>
	<div id="wrapper">
		<div id="election-head">
			<h1>ELECTIONS</h1>
			<h2>2014</h2>
		</div>
		<div id="election-desc">
			<div id="login-fb-div">
				<img src="img/login.jpg" id="login-fb" onclick="FB.login(function(response){},{scope:'user_groups,email'})" alt="Login">
			</div>
			<p>After an awesome year, that time has come around where you pick an even awesomer team to guide RANGOLI. So pick up your mice and VOTE!</p>
			<p>It is time for YOU to choose.</p>
		</div>
		<div id="election-foot">
			Copyright 2014. Penn Rangoli.
		</div>
	</div>
  </body>
</html>