<!DOCTYPE html>
<html>
  <head>
    <title>Penn Rangoli Election 2014</title>
    <!-- Bootstrap -->
	<!--[if IE]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,200,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/vote.css" rel="stylesheet" media="screen">
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.stellar.js"></script>
	<script>
	$(document).ready(function(){
		$.stellar();
		
		$('.total-noms > .left').on('click keydown',function(){
			$(this).siblings('input[type=radio]').attr('checked',false);
			$(this).prev('input[type=radio]').attr('checked',true);
			$(this).siblings('.left').children('img').fadeTo(0,0.5);
			$(this).children('img').fadeTo(0,1);
		});
		
		$('input[type=submit]').click(function(e){
			e.preventDefault();
			var position = $(this).parent().attr('id').substring(5);
			var chosen="";
			$('input[name='+position+']').each(function(){
				if($(this).attr('checked')){
					chosen=$(this).val();
				}
			});
			if(chosen!=''){
				$.ajax({
					url:'/vote/'+position,
					type:'POST',
					data:position+'='+chosen,
					success:function(response){
						$('#'+position).find('.positions-results-page').trigger('click');
					}
				});
			}
			
		});
		
		$('.positions-results-page').click(function(){
			$(this).parent().siblings('.positions-overflow').find('.positions-holder').stop().animate({'top':'-300px'});
			$(this).siblings('.left').removeClass('nav-sel');
			$(this).addClass('nav-sel');
		});
		
		$('.positions-vote-page').click(function(){
			$(this).parent().siblings('.positions-overflow').find('.positions-holder').stop().animate({'top':0});
			$(this).siblings('.left').removeClass('nav-sel');
			$(this).addClass('nav-sel');
		});
		
		function getResults(pos){
			$.ajax({
				url:'/vote/'+position,
				type: 'GET',
				dataType: 'json',
				success:function(response){
					var items=[];
					$.each(function(key,val){
						
					}
				}
			});
		}
		
	})
	</script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
	
	<div id="fb-root"></div>
	<script>
	 window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '{{facebook_app_id}}',
	    status     : true, // check login status
	    cookie     : true, // enable cookies to allow the server to access the session
	    xfbml      : true  // parse XFBML
	  });

	FB.getLoginStatus(function(response){
		if (response.status === 'connected') {
	     runAPI(response.authResponse.accessToken);
	    } else if (response.status === 'not_authorized') {
	      //notAuth();
	    } else {
	      //notAuth();
	    }
	});
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
	    if (response.status === 'connected') {
	      runAPI(response.authResponse.accessToken);
	    } else if (response.status === 'not_authorized') {
	      //notAuth();
	    } else {
	      //notAuth();
	    }
	  });
	  };

	  // Load the SDK asynchronously
	  (function(d){
	   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   ref.parentNode.insertBefore(js, ref);
	  }(document));
		
	function runAPI(accessToken){
		FB.api(
		    "/me?fields=picture",
		    function (response) {
		      if (response && !response.error) {
		        //$('#user-welcome').html('Welcome '+response.name);
				$('.user-pic').html("<img src='"+response.picture.data.url+"' alt='profile'>");
		      }
		    }
		);
		FB.api(
		    "/me",
		    function (response) {
		      if (response && !response.error) {
		        $('#user-welcome').html('Welcome '+response.name);
		      }
		    }
		);
	}
	
	</script>
	
	
	<header>
		<div id="logo" class="left">
			<img src="img/logotest.png" width="250px">
		</div>
		<div id="user" class="right">
			<div id="user-show">
				<div class="user-pic right"></div>
				<div id="user-welcome" class="right"></div>
				<div class="clear"></div>
			</div>
			<div id="user-hover">
				<div class="right user-pic"></div>
				<div class="right logout" onclick="FB.logout()">Logout of Facebook</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div style="position:absolute;top:140px;width:100%">
			<div id="head-election">ELECTIONS 2014</div>
		</div>
	</header>
	
	<div class="stellar-background" style="background:url(img/love.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="chair">
		<h1>CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Overlooks the entire board and becomes the face of the organisation representing Rangoli to the other institutions.</li> 
				<li>Ensures that every office bearer performs his/her duties with due diligence facilitating smooth functioning of the Rangoli office.</li> 
				<li>The Chair must head all Rangoli meetings.</li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-chair" method="POST">
							<div class="total-noms">
								<input type="radio" name="chair" value="nirmal01">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="chair" value="nirmal02">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="chair" value="nirmal03">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-nom">
							<div class="left res-nom-name">Nirmal Utwani</div>
							<div class="left bar">
								<div class="filled" style="width:57%"></div>
							</div>
							<div class="left percentage">57%</div>
							<div class="clear"></div>
						</div>
						<div class="positions-results-nom">
							<div class="left res-nom-name">Nirmal Utwani</div>
							<div class="left bar">
								<div class="filled" style="width:23%"></div>
							</div>
							<div class="left percentage">23%</div>
							<div class="clear"></div>
						</div>
						<div class="positions-results-nom">
							<div class="left res-nom-name">Nirmal Utwani</div>
							<div class="left bar">
								<div class="filled" style="width:20%"></div>
							</div>
							<div class="left percentage">20%</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/college-hall.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
  </body>
</html>
