<!DOCTYPE html>
<html>
  <head>
    <title>Penn Rangoli Election 2014</title>
    <!-- Bootstrap -->
	<!--[if IE]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,200,400' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/vote.css" rel="stylesheet" media="screen">
	<!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
	<script src="js/jquery.js"></script>
	<script src="js/jquery.stellar.js"></script>
	<script>
	$(document).ready(function(){
		
		var totalVotes=4;
		
		$.stellar();
		
		$('.total-noms > .left').on('click keydown',function(){
			//Highlight corresponding input
			$(this).siblings('input[type=radio]').attr('checked',false);
			$(this).prev('input[type=radio]').attr('checked',true);
			$(this).siblings('.left').children('img').fadeTo(0,0.5);
			$(this).children('img').fadeTo(0,1);
		});
		
		//Vote
		$('input[type=submit]').click(function(e){
			e.preventDefault();
			var position = $(this).parent().attr('id').substring(5);
			var chosen="";
			$('input[name='+position+']').each(function(){
				if($(this).attr('checked')){
					chosen=$(this).val();
				}
			});
			if(chosen!=''){
				$.ajax({
					url:'/vote/'+position,
					type:'POST',
					data:position+'='+chosen,
					success:function(response){
						//Show results page
						$('#'+position).find('.positions-results-page').trigger('click');
						//Show results
						$('#'+position).find('.results-refresh').trigger('click');
					}
				});
			}
			
		});
		
		//Refresh results button
		$('.positions-results > .results-refresh').click(function(){
			//Get result
			var pos=$(this).parent().parent().parent().parent().parent().attr('id');
			getResults(pos);
		})
		
		//Results page button
		$('.positions-results-page').click(function(){
			//Animate slide
			$(this).parent().siblings('.positions-overflow').find('.positions-holder').stop().animate({'top':'-350px'});
			$(this).siblings('.left').removeClass('nav-sel');
			$(this).addClass('nav-sel');
			//var pos=$(this).parent().parent().parent().attr('id');
			//getResults(pos);
			
		});
		
		//Vote page button
		$('.positions-vote-page').click(function(){
			//Animate slide
			$(this).parent().siblings('.positions-overflow').find('.positions-holder').stop().animate({'top':0});
			$(this).siblings('.left').removeClass('nav-sel');
			$(this).addClass('nav-sel');
		});
		
		//Navigation
		$('.pos-nav').click(function(){
			var pos=$(this).attr('to');
			$('html,body').animate({
				scrollTop: $('#'+pos).offset().top-140
			},1000);
		})
		
		function getResults(pos){
			$.ajax({
				dataType: "json",
				url:'/vote/'+pos,
				type: 'GET',
				success: function(data){
					var items=[];
					//console.log(data);
					$.each(data.results,function(key,val){
						//console.log(key);
						items.push('<div class="positions-results-nom"><div class="left res-nom-name">'+key+'</div><div class="left bar"><div class="filled" style="width:'+val+'%"></div></div><div class="left percentage">'+val+'%</div><div class="clear"></div></div>');
					});
					//console.log(data);
					$('#'+pos).find('.positions-results-holder').html(items.join(""));
					var votesLeft=totalVotes-data.count;
					if(votesLeft!=0){
						var time="times";
						var them="them";
						if(votesLeft==1){
							time="time";
							them="it";
						}
						$('#'+pos).find('.vote-count').html("You can change your vote only "+votesLeft+" "+time+"  now. Use "+them+" wisely.");
					}else{
						$('#'+pos).find('.vote-count').hide();
						$('#'+pos).find('form').hide();
						$('#'+pos).find('.ran-out').fadeIn();
						$('#'+pos).find('.positions-results-page').trigger('click');
						$('.pos-nav').each(function(){
							if($(this).attr('to')==pos){
								$(this).css({'background-color':'rgb(29, 119, 21)'});
							}
						})
					}
				},
				error: function(jqXHR,textStatus,errorThrown){
					console.log(textStatus);
				}
			});
		}
		
		function getAllResults(){
			getResults('chair');
			getResults('vicechair');
			getResults('treasurer');
			getResults('socialchair');
			getResults('operationschair');
			getResults('gapsaliason');
			getResults('communicationschair');
			getResults('webadmin');
			getResults('marketingchair');
		}
		
		//Get all results the first time
		getAllResults();
		
		/*var getRes=setInterval(function(){
			getAllResults();
		},10000);*/
	})
	</script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
	
	<div id="fb-root"></div>
	<script>
	 window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '{{facebook_app_id}}',
	    status     : true, // check login status
	    cookie     : true, // enable cookies to allow the server to access the session
	    xfbml      : true  // parse XFBML
	  });

	FB.getLoginStatus(function(response){
		if (response.status === 'connected') {
	     runAPI(response.authResponse.accessToken);
	    } else if (response.status === 'not_authorized') {
	      //notAuth();
	    } else {
	      //notAuth();
	    }
	});
	  FB.Event.subscribe('auth.authResponseChange', function(response) {
	    if (response.status === 'connected') {
	      runAPI(response.authResponse.accessToken);
	    } else if (response.status === 'not_authorized') {
	      //notAuth();
	    } else {
	      //notAuth();
	    }
	  });
	  };

	  // Load the SDK asynchronously
	  (function(d){
	   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	   if (d.getElementById(id)) {return;}
	   js = d.createElement('script'); js.id = id; js.async = true;
	   js.src = "//connect.facebook.net/en_US/all.js";
	   ref.parentNode.insertBefore(js, ref);
	  }(document));
		
	function runAPI(accessToken){
		FB.api(
		    "/me?fields=picture,name",
		    function (response) {
		      if (response && !response.error) {
				$('.user-pic').html("<img src='"+response.picture.data.url+"' alt='profile'>");
				$('#user-welcome').html('Welcome '+response.name);
		      }
		    }
		);
	}
	
	</script>
	
	
	<header>
		<div id="logo" class="left">
			<img src="img/logotest.png" width="250px">
		</div>
		<div id="user" class="right">
			<div id="user-show">
				<div class="user-pic right"></div>
				<div id="user-welcome" class="right"></div>
				<div class="clear"></div>
			</div>
			<div id="user-hover">
				<div class="right user-pic"></div>
				<div class="right logout" onclick="FB.logout(function(res){
					location.replace(location.href.substring(0, location.href.indexOf('/'))+'logout');
				})">Logout of Facebook</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div style="position:absolute;top:35px;width:100%">
			<div id="head-election">
				<div id="head-election-header">
					ELECTIONS 2014
					<div style="line-height:0;padding-top:5px">
						<img src="img/down.png">
					</div>
					<div class="clear"></div>
				</div>
				<div class="left">
					<div class="pos-nav" to="chair">Chair</div>
					<div class="pos-nav" to="vicechair">Vice Chair</div>
					<div class="pos-nav" to="treasurer">Treasurer</div>
					<div class="pos-nav" to="socialchair">Social Chair</div>
				</div>
				<div class="right">
					<div class="pos-nav" to="operationschair">Operations Chair</div>
					<div class="pos-nav" to="gapsaliason">GAPSA Liaison</div>
					<div class="pos-nav" to="communicationschair">Communications Chair</div>
					<div class="pos-nav" to="webadmin">Web Administrator</div>
				</div>
				<div class="clear"></div>
				<div class="last">
					<div class="pos-nav" to="marketingchair">Marketing Chair</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="stellar-background" style="background:url(img/love.jpg) no-repeat;margin-top:100px" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="chair">
		<h1>CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Overlooks the entire board and becomes the face of the organisation representing Rangoli to the other institutions.</li> 
				<li>Ensures that every office bearer performs his/her duties with due diligence facilitating smooth functioning of the Rangoli office.</li> 
				<li>The Chair must head all Rangoli meetings.</li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-chair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="chair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="chair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="chair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/college-hall.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="vicechair">
		<h1>VICE CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Shares responsibilities with the Chair and assists him/her in overseeing the smooth functioning of office. </li><li>Represent Rangoli to outside parties in the absence of the Chair. </li><li>Coordinates with the Social chair, Operations co-chairs, and Marketing chair to organise the various calendar events.</li><li> Must be present at all meetings of the board. </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-vicechair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="vicechair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="vicechair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="vicechair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back09.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="treasurer">
		<h1>TREASURER</h1>
		<div class="positions-desc">
			<ul>
				<li>Responsible for acquiring details of, and applying for various funding opportunities. </li><li>Manages accounts and reimbursement of funds for all Rangoli activities. </li><li>Required to report to the board of the financial standing at each meeting, and and consult with them for financial decision-making and budget planning for the various events and activities organised by the office.  </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-treasurer" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="treasurer" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="treasurer" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="treasurer" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back10.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="socialchair">
		<h1>SOCIAL CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Responsible for coordinating all events and activities of Rangoli.</li><li> Should develop a tentative year calendar, charting out the major events and activities that the Board would take up during their term. </li><li>Develops contacts with affinity organisations and/or individuals for collaboration, in conjunction with the Communications Chair and GAPSA Liaison.</li><li> Must coordinate with the Operations Chair and Vice Chair to make the necessary arrangements for the events.   </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-socialchair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="socialchair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="socialchair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="socialchair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back04.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="operationschair">
		<h1>OPERATIONS CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Responsible for internal coordination within the board. </li><li>Ensure the board meets twice a month and keep note of attendance of members. </li><li>Ensures compliance of the Rangoli protocols to the Constitution. 
</li><li>Must work closely with Chair and Vice chair to allocate responsibilities to each board member during throughout organising an event/activity. </li><li>Required to work in conjunction with Social chair and Communications chair to decide upon the year calendar (describing the probable list of events), logistics for these events, and finalise the role Rangoli plays in collaborations with other groups.</li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-operationschair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="operationschair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="operationschair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="operationschair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back05.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="gapsaliason">
		<h1>GAPSA LIAISON</h1>
		<div class="positions-desc">
			<ul>
				<li>GAPSA Liaison represents Rangoli at the GASPA Select Committee.</li><li> The duties involve working to represent Rangoli to GAPSA, advertise the group’s events/activities to the Penn community through the GAPSA channel, and help increase the presence of Rangoli in the Penn community by stepping up on opportunities through GAPSA in campus-wide drives.</li><li> He/she is required to attend Rangoli Board meetings, help design budget plans, attend GAPSA Select Committee meetings, send monthly updates to GAPSA correspondent about Rangoli’s activities, attend GAPSA general assembly bimonthly meetings, and ensure smooth functioning of the group procedures in accordance with constitutional protocols. </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-gapsaliason" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="gapsaliason" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="gapsaliason" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="gapsaliason" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back02.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="communicationschair">
		<h1>COMMUNICATIONS CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Required to be the point of contact on behalf of Rangoli for other organisations and individuals, including requests to publicise Rangoli events/activities or promote their events to Rangoli members.</li><li> Should coordinate with the relevant Board member to respond promptly to any queries posed to Rangoli by any member, non-member and other institutions.</li><li> Responsible for communicating with various Indian groups on campus and other affinity groups, building and maintaining cordial relationships with them, and negotiate opportunities to collaborate. </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-communicationschair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="communicationschair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="communicationschair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="communicationschair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back06.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="webadmin">
		<h1>WEB ADMINISTRATOR</h1>
		<div class="positions-desc">
			<ul>
				<li>Responsible for maintaining the Rangoli website, facebook/twitter accounts, mailing list and google group.</li><li> Coordinate with the Vice Chair and Marketing Chair for maintaining Rangoli’s presence online and publicise events on the web front.  </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-webadmin" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="webadmin" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="webadmin" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="webadmin" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="stellar-background" style="background:url(img/back07.jpg) no-repeat" data-stellar-background-ratio="0.5"></div>
	
	<div class="positions" id="marketingchair">
		<h1>MARKETING CHAIR</h1>
		<div class="positions-desc">
			<ul>
				<li>Responsible for promoting Rangoli events and activities to all the Indian community at Penn and relevant affinity groups. </li><li> Help GAPSA Liaison to promote Rangoli to GAPSA. </li><li>Coordinate with Vice Chair, Social Chair, Operations co-Chairs and Web Admin to promote Rangoli activities. </li>
			</ul>
		</div>
		<div class="positions-vote">
			<div class="positions-nav">
				<div class="positions-vote-page left nav-sel">VOTE</div>
				<div class="positions-results-page left">RESULTS</div>
				<div class="clear"></div>
			</div>
			<div class="positions-overflow">
				<div class="positions-holder">
					<div class="positions-noms positions-slide">
						<form id="form-marketingchair" method="POST" style="margin-bottom:10px;">
							<div class="total-noms">
								<input type="radio" name="marketingchair" value="cand1">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 01</div>
								</div>
								<input type="radio" name="marketingchair" value="cand2">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 02</div>
								</div>
								<input type="radio" name="marketingchair" value="cand3">
								<div class="left">
									<img src="img/nirmal.png">
									<div class="nom-name">Nirmal Utwani 03</div>
								</div>
								<div class="clear"></div>
							</div>
							<input class="vote-submit" type="submit" value="Vote">
						</form>
						<div class="vote-count"></div>
						<div class="ran-out">
							<div class="ran-out-smiley">:(</div>
							<div class="ran-out-text">You ran out of votes.</div>
						</div>
					</div>
					<div class="positions-results positions-slide">
						<div class="positions-results-holder"></div>
						<input class="results-refresh" type="button" value="Refresh results">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="left">Copyright 2014. Penn Rangoli.</div>
		<div class="right">Site developed by Tharun Reddy and Gopinath Danda.</div>
		<div class="clear"></div>
	</footer>
  </body>
</html>
